* {
  margin: 0px;
  padding: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

body {
  max-width: 1440px;
  background-color: #fff;
  overflow-x: hidden;
  height: 900px;
}
.main-div {
  width: 1440px;
  display: flex;
  justify-content: center;
}
.main-main {
  max-height: 270px;
}
.dashboard-id-eight {
  color: #b1b1b1;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  gap: 43px;
  position: relative;
  left: 27px;
}
.dashboard-id-one {
  color: #2d60ff;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  gap: 22px;
  width: 25px;
  height: 25px;
}
.aside-nav {
  display: flex;
  flex-direction: column;
  gap: 42px;
  max-width: 211px;
}
.img-main {
  position: relative;
  right: 305px;
  margin-bottom: 105px;
  margin-top: 30px;
}
.h1-main {
  position: relative;
  left: -170px;
  top: 31px;
  height: 28px;
  color: #343c6a;
  font-family: "Inter";
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.three-logo-div {
  position: relative;
  left: 330px;
  top: 20px;
}
.statistic-pic {
  position: relative;
  left: -340px;
  top: 88px;
}
.main-div-settings {
  background: #f5f7fa;
  width: 1190px;
  height: 1130px;
  left: 272px;
  top: -618px;

  position: relative;
  display: flex;
  gap: 30px;
}
.balance-lato-lato-twotwo {
  color: #343c6a;
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  position: relative;
  height: 24px;
  top: 34px;
  right: 1px;
}
.balance-lato-lato {
  color: #fff;
  font-family: "Lato";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  top: 25px;
  left: 40px;
  height: 24px;
}
.balance-lato-lato-two {
  color: #fff;
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  top: 35px;
  left: -1px;
  height: 24px;
}
.card-holder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Lato";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  position: relative;
  top: 95px;
  right: 90px;
  flex: none;
  height: 14px;
}
.holder-name {
  color: #fff;
  font-family: "Lato";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 18px;
  display: flex;
  flex: none;
  position: relative;
  right: 175px;
  top: 110px;
}
.holder-name-date {
  color: #fff;
  font-family: "Lato";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 18px;
  display: flex;
  flex: none;
  position: relative;
  right: 160px;
  top: 110px;
}
.card-code {
  color: #fff;
  font-family: "Lato";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex: none;
  position: relative;
  right: 370px;
  top: 187px;
}
.balance-lato {
  display: flex;
  position: relative;
  width: 350px;
  height: 235px;
  top: 80px;
  left: -75px;
  border-radius: 25px;
  background: linear-gradient(107deg, #4c49ed, #0a06f4 101.2%);
}
.Chip_Card_img {
  width: 34.77px;
  height: 34.77px;
  position: relative;
  left: 180px;
  top: 30px;
}
.Chip_Card_img_two {
  width: 44px;
  height: 30px;
  position: relative;
  right: 333px;
  top: 184px;
}
.balance-lato-two {
  display: flex;
  position: relative;
  width: 350px;
  height: 235px;
  top: 81px;
  right: 195px;
  border-radius: 25px;
  border: 1px solid #dfeaf2;
  background: #fff;
}
.balance-class {
  color: #718ebf;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  top: 24px;
  left: 40px;
}
.valid-valid {
  color: #718ebf;
  font-family: "Lato";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex: none;
  position: relative;
  top: 96px;
  right: 89px;
  height: 14px;
}
.eddy-casuma {
  color: #343c6a;
  font-family: "Lato";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex: none;
  position: relative;
  top: 109px;
  right: 174px;
  height: 18px;
}
.eddy-casuma-date {
  color: #343c6a;
  font-family: "Lato";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex: none;
  position: relative;
  top: 109px;
  right: 160px;
  height: 18px;
}
.card-code-two {
  color: #343c6a;
  border-radius: 0px 0px 25px 25px;
  border: 1px solid #dfeaf2;
  font-family: "Lato";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex: none;
  position: relative;
  top: 189px;
  right: 374px;
  height: 26px;
}
.Chip_Card_img_two {
  width: 44px;
  height: 30px;
  position: relative;
  right: 333px;
  top: 184px;
}
.recent-tran {
  position: relative;
  bottom: 1387px;
  left: 292px;
}
.transactions-all {
  position: relative;
  bottom: 1369px;
  left: 293px;
  display: flex;
  gap: 80px;
  color: #718ebf;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.blue-one-trans {
  color: #1814f3;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.ractangle-one {
  width: 1110px;
  height: 397px;
  border-radius: 25px;
  background: #fff;
  position: relative;
  bottom: 1344px;
  left: 299px;
}
.colored-spans {
  color: #718ebf;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 15px;
}
.ractagle-main-text {
  display: flex;
  position: relative;
  top: 36px;
  justify-content: space-between;
  right: 32px;
}
.stick-div {
  position: relative;
  left: 48px;
  top: -8px;
}
.ractagle-main-text-one {
  display: flex;
  position: relative;
  top: 69px;
  justify-content: space-between;
  right: 30px;
}
.ractagle-main-text-two {
  display: flex;
  position: relative;
  top: 102px;
  justify-content: space-between;
  right: 30px;
}
.ractagle-main-text-three {
  display: flex;
  position: relative;
  top: 146px;
  justify-content: space-between;
  right: 30px;
}
.ractagle-main-text-four {
  display: flex;
  position: relative;
  top: 187px;
  justify-content: space-between;
  right: 30px;
}
.stick-div-one {
  position: relative;
  left: 48px;
  top: -8px;
}
.transaction-id {
  position: relative;
  left: 15px;
}
.transaction-id-one {
  position: relative;
  right: -16px;
}
.transaction-id-two {
  position: relative;
  left: -22px;
}
.transaction-id-three {
  position: relative;
  left: -10px;
}
.transaction-id-four {
  position: relative;
  left: -33px;
}
.hthree {
  display: flex;
  flex: none;
  position: relative;
  left: 54px;
  top: 42px;
  color: #343c6a;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 24px;
}
.addcard {
  display: flex;
  flex: none;
  color: #343c6a;
  font-family: "Inter";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  top: 50px;
  left: 180px;
  height: 24px;
}
.my-expense {
  display: flex;
  flex: none;
  height: 24px;
  color: #343c6a;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  top: 46px;
  right: 186px;
}
.footer-poz {
  position: relative;

  left: 1100px;
}
